h1, p {
    margin-left: 100px;
}
h1 {
    font-size: 70px;
}
p {
    font-size: 70px;
}
span {
    color: plum;
}
a {
    text-decoration: none;
}

/*Navigation bar*/
nav {
    display: flex;
    justify-self: space-between;
    align-items: center;
    background-color: palegreen;
}
nav ul li {
    border:1px pink ;
    padding: 10px;
    list-style-type: none;
    display: inline;
}
/* Images */
img{
    height: 300px;
    width: 450px;
    margin-left: 100px;
}